.main {
    background: url("/assets/image/banner/banner1.jpg");
    background-color: rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
}

.header {
    padding: 0 36px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 999999;
}

.container {
    position: relative;
    padding: 10px 0;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.menu {
    
}

.main-menu {
    display: none;
    float: right;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: turquoise;
    animation: opacity 0.2s ease-out;
}

.main-menu.show {
    display: block;
}

.nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.nav li {
    display: block;
    list-style: none;
}

.nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px;
    letter-spacing: 1px;
}

.menu-toggle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.menu-toggle span {
    display: block;
    height: 2px;
    width: 30px;
    background-color: #fff;
    margin: 5px 0;
    transition: all 0.2s ease-out;
}

.menu-toggle-open .line1 {
    margin: -2px;
    transform: rotate(45deg);
}

.menu-toggle-open .line2 {
    display: none;
}

.menu-toggle-open .line3 {
    margin: -2px;
    transform: rotate(-45deg);
}



